* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Golos;
  src: url("../fonts/Golos-Text_VF.ttf");
}
html {
  font-family: "Golos";
}

body {
  display: flex;
}

.section-left {
  position: relative;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.basket-box {
  position: fixed;
  top: 20px;
  width: 18%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.basket-box__top-items {
  background: #e9e9e9;
}
.basket-box__balance {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.basket-box__bot-items {
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.basket-box__text {
  margin-top: 10px;
  color: black;
  font-size: 25px;
  text-align: center;
}
.basket-box__list {
  height: 100px;
}
.basket-box__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 100px;
  border-bottom: 1px solid #000;
}
.basket-box__text-result {
  margin-bottom: 20px;
  margin-left: 12px;
  font-size: 18px;
  color: grey;
  font-weight: bold;
}
.basket-box__btn-yes {
  cursor: pointer;
  height: 60px;
  width: 92%;
  margin-left: 4%;
  background: #19b2e6;
  border: none;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}
.basket-box__text-description {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 92%;
  margin-left: 4%;
  border: 1px solid #e9e9e9;
  text-align: center;
}
.basket-box__btn-reset {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  background: white;
}

.item-foto {
  width: 100px;
  height: 98px;
}

.item-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item-about__name {
  color: #00a7ff;
}

.item-about-icon {
  cursor: pointer;
  margin-left: 10px;
}

.hr-bot {
  margin-bottom: 10px;
}

.balance-text {
  color: #00a7ff;
  font-size: 25px;
  font-weight: bolder;
}

.balance-value {
  color: #00a7ff;
  font-size: 25px;
  font-weight: bolder;
}

.dollar {
  color: #00a7ff;
  font-size: 25px;
  font-weight: bolder;
}

.basket-btn {
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin-left: 4%;
  background: #00a7ff;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  margin-bottom: 10px;
}

.section-rigth {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 98%;
  height: 150px;
}
.nav-bar__title-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-bar__text {
  font-size: 20px;
  color: #19b2e6;
}
.nav-bar__title {
  color: #4b46ff;
  font-weight: bold;
}
.nav-bar__btn-box {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-bar__buttons {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-start;
  border: none;
  font-size: 15px;
}

.cards-box {
  margin: 20px 0;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.cards-box__item {
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.cards-box__img {
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
}
.cards-box__about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  align-items: center;
  color: grey;
  font-weight: bold;
}
.cards-box__name {
  word-wrap: break-word;
}
.cards-box__hr {
  height: 1px;
  border: none;
  background-color: black;
  margin: 18px 0;
  padding: 0 15px;
}
.cards-box__icons {
  cursor: pointer;
}

.format {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #000;
  display: none;
}

.format-credit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  background: white;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}

.format-btn {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.format-btn__add {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: #00a7ff;
  border: none;
  color: white;
}
.format-btn__back {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: #00a7ff;
  border: none;
  color: white;
}

.format-text-title {
  text-align: center;
  color: #00a7ff;
  font-size: 18px;
}

.format-input {
  width: 50%;
  height: 40px;
  font-size: 30px;
  border: 1px solid #00a7ff;
  border-radius: 20px;
  text-align: center;
}
.format-input:focus {
  outline: none;
}

.nav-bar__buttons {
  cursor: pointer;
  width: 165px;
  height: 25px;
  align-items: center;
  border-radius: 5px;
  font-family: "Golos";
  font-size: 15px;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.nav-bar__buttons:hover {
  background-color: lightgray;
}

.dropdown {
  position: relative;
}

.btn-list {
  position: absolute;
  top: 110%;
  right: 0%;
  display: none;
  list-style-type: none;
}

.btn-item {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 25px;
  width: 165px;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}
.btn-item:hover {
  background-color: lightgray;
}

.list-active {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.btn-dropdown {
  position: relative;
}

.dropdown-active {
  background-color: #fafafa;
}

.section-product {
  display: none;
  margin-top: 20px;
  width: 79%;
  height: 600px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.products-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.products-nav__text-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  height: 70px;
}
.products-nav__text {
  color: #19b2e6;
  font-size: 20px;
}
.products-nav__title {
  font-weight: bold;
  color: #4b46ff;
}

.hr-product {
  position: absolute;
  bottom: 30px;
  margin-left: 2%;
  border-style: solid;
  border-color: #ddd;
  width: 96%;
}

.product-item {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.product-item__img {
  width: 30%;
  height: 430px;
}
.product-item__action {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin-right: 20px;
  padding-top: 10px;
}
.product-item__quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-item__input {
  margin-left: 10px;
  width: 75px;
  height: 30px;
}
.product-item__btn-select {
  font-size: 16px;
  font-family: Golos;
  cursor: pointer;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-bottom: 20px;
  transition: background-color 1s ease;
}
.product-item__btn-select:hover {
  background-color: lightgray;
}
.product-item__btn-back {
  cursor: pointer;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: Golos;
  height: 50px;
  transition: background-color 1s ease;
}
.product-item__btn-back:hover {
  background-color: lightgray;
}
.product-item__action-left {
  display: flex;
  flex-direction: column;
}
.product-item__action-ritgh {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4b46ff;
  font-weight: bold;
  font-size: 25px;
}

.hr-product-item {
  position: absolute;
  top: 0;
  width: 65%;
  transform: rotate(180deg);
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dashed #ddd;
}

.img-product {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 350px;
}

i {
  width: 40px;
  color: blue;
}